body{
  font-family: coda, sans-serif;
  margin: 0px;
  color: #fff;
}

.at-wrapper{
  height: 630px;
  overflow: auto;
  background-image: url('img/bg.jpg');
  background-size: cover;
}

.at-back{
  height: 630px;
  background-color: rgba(30, 29, 34, 0.75);
}

.at-header{
  width: 100%;
  font-size: 4em;
  text-align: center;
  padding-top: 14%;
  padding-bottom: 10px;
  text-shadow: 0 2px 5px rgba(0,0,0,0.3);

}

.search-box{
  font-family: 'Muli', sans-serif;
  width: 420px;
  margin: 0 auto;
}

.search-box p{
  letter-spacing: .4px;
  line-height: 1.8em;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0,0,0,0.3);
  display: block;
  font-size: 1.3em;
  margin-bottom: 30px;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid rgba(255, 150, 0, 0.6) !important;
     box-shadow: 0 1px 0 0 rgba(255, 150, 0, 0.6) !important;
}

.inputset{
  display: table;
}

#at-input{

  color:#000;
  background-color: #fff;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  border: 2px #ddd solid;
  width: 315px;
  height: 40px;
  border-right: 0px;
  border-top-right-radius:0em;
  border-bottom-right-radius:0em;

}

#at-input:focus{
  border-color: #FFb000;
}

#at-btn{
  font-size: 1em;
  border-radius: 3px;
  border: #FFBF00 1px solid;
  outline: none;
  color: #fff;
  padding: 10px 16px;
  float: right;
  background-color: #FFBF00;
  transition: background-color .5s, color .5s ease;
  border-top-left-radius:0em;
  border-bottom-left-radius:0em;
}

#at-btn:hover{
  color: #fff;
  background-color: #FFb000;
  border-color: #ffb000;
}

.ex-wrapper{
  overflow: auto;
  background-color: #fafafa;
}

.at-example{
  padding-left: 4%;
  overflow: auto;
  width: 1100px;
  margin: 0 auto;
}

.at-exheader{
  text-shadow: 0 2px 5px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  margin-top: 30px;
  color: #333;
  font-size: 2.5em;
}

.card-image img{
  height: auto;
  background-size: contain;
}

.at-exwrapper{
  margin: 10px auto;
  width: 1100px;
  color: #333;
}

.tl-timeline {
  height:550px;
  width:100%;
}

#timeline-header{
  overflow: auto;
  text-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: none;
  background-color: #FAFAFA;
  color: #333;
  font-size: 2.5em;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#timeline-header span{
  color: #ffb000;
}

.tl-timeline p{
  margin-top: 0px;
  font-size: 12px;
}

#t-header{
  display: inline-block;
  float: left;
}

#openNew{
  display: inline-block;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: .4em;
  padding: 20px;
  outline: inherit;
}

#openNew:hover{
  cursor:pointer;
}

#urlbox{
  overflow: auto;
  display: none;
}

#copy{
  text-align: center;
  background-color: #333;
  float: left;
  width: 20%;
  padding: 10px 20px;
  font-size: 1.2em;
  color:#ffb000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#url{
  letter-spacing: .5px;
  border: 2px #ffb000 solid;
  color:#333;
  font-family: 'lora', sans-serif;
  padding: 8px 20px;
  font-size: 1.2em;
  width: 60%;
  float: left;
  background-color: #fdfdfd;
}

#openNew{
  text-align: center;
  color: #fdfdfd;
  background-color: #333;
  width: 20%;
  float: left;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  font-size: 1.2em;
}
